src/main/mule/error-receiver.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="error-receiverFlow" doc:id="f6ace700-deb4-45a3-8019-61a1fb8fa8d3" >
		<http:listener doc:name="Listener" doc:id="19454aa6-9f66-48df-8d84-33e21327331c" config-ref="dealer-api-httpListenerConfig" path="/api/core/error/v1.0/events"/>
		<logger level="INFO" doc:name="Logger" doc:id="452aab03-43ff-464e-b3e8-1a5786f0015f" message='"My Error Request -&gt;"#[payload]'/>
	</flow>
</mule>
